*{
    margin: 0;
    padding: 0;

}
header {
    display: flex;
    background-color: rgb(238, 184, 184);
    justify-content: space-between;
    align-items: center;

}
body{
    background-color: rgb(224, 214, 223);
}
.menu_1 li{

    margin-right: 250px;
    display: inline-block;
    vertical-align: middle;

}
.logo, .menu_1{
    margin-right: 25px;
    display: inline-block;
    vertical-align: middle;
}
.menu_1 a{
    vertical-align: middle;
    font-family: arial;
    font-size: 17 px;
    color: rgb(0, 0, 0);
    text-decoration: none;
}
.logo{
    vertical-align: middle;
    font-family: arial;
    font-size: 20px;
    color: rgb(0, 0, 0);

}
@media(max-width:460px){ 
    *{
        margin: 0;
        padding: 0;
    
    }
    header{
        display: flex;
        justify-content: center;
    }
    body{
        background-color: rgb(224, 214, 223);
    }
    .menu_1 li{
    
        margin-right: 25px;
        display: inline-block;
        vertical-align: middle;
    
    }
    .logo, .menu_1{
        margin-right: 25px;
        display: inline-block;
        vertical-align: middle;
    }
    .menu_1 a{
        vertical-align: middle;
        font-family: arial;
        font-size: 17 px;
        color: rgb(0, 0, 0);
        text-decoration: none;
    }
    .logo{
        vertical-align: middle;
        margin-right: 40px;
        font-family: arial;
        font-size: 20px;
        color: rgb(0, 0, 0);
    

} 

}